<aside class="sidebar bg-primary text-white p-3">
    <ul class="nav flex-column">
        <li class="nav-item sidebar-item-separator">
            <a class="nav-link text-white" href="{{ url_for('homepage') }}">Homepage</a>
        </li>
         <li class="nav-item sidebar-item-separator">
            <a class="nav-link text-white" href="{{ url_for('candidates') }}">Candidates</a>
        </li>
        <li class="nav-item sidebar-item-separator">
            <a class="nav-link text-white" href="{{ url_for('new_interview') }}">New Interview</a>
        </li>
        <li class="nav-item sidebar-item-separator">
            <a class="nav-link text-white" href="{{ url_for('history') }}">Interview History</a>
        </li>
    </ul>
</aside>