/* Full center layout */
body {
    background: #f0f2f5;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the card */
.login-container {
    display: flex;
    width: 100%;
    max-width: 800px; 
    padding: 15px;
}

/* Card styling */
.login-card {
    border-radius: 12px;
    padding: 20px;
    width: 100%; 
}
.login-img{
    max-width: 100%; 
    max-height: 400px; 
    height: auto;
    object-fit: contain;
}

/* button styling */
.custom-btn {
    width: 200px;
    display: block;
    margin: 20px auto 0 auto;
}

h3{
    color: #0066ff;
}